

body {
    min-height: 100vh;
    width: 100%;
    background: url(data.svg);
    background-repeat:repeat-y;
    background-size: contain;
    background-position: right;
}

header {
    background: url(gelombang.svg);
    background-repeat: repeat;
    background-size: contain;
    color: #eaeaea;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    gap: 10px;
    height: 100px;
    animation: rotate 6s infinite alternate linear;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo a {
    padding: 20px;
    background-color: #216ce7;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.contain {
    margin-top: 3vh;
}

.search {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.search input {
    padding: 10px;
    border: 2px solid rgb(3, 3, 3);
    font-size: 12px;
}
.search input[type=text] {
    width: 230px;
}

.search button {
    border-radius: 10px;
    padding: 10px;
    border: .5px solid white;
    color: white;
    background-color: rgb(60, 129, 219);
    cursor: pointer;
}

.tambah {
    text-align: center;
    padding: 40px;
}

.tambah a {
    background-color: rgb(1, 158, 185);
    padding: 14px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(238, 240, 241);
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 9px 37px 1px rgba(0,0,0,0.48);
-webkit-box-shadow: 2px 9px 37px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 2px 9px 37px 1px rgba(0,0,0,0.48);
}

.card-image {
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.card-image img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.card h4 {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
}
@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}

@media (width >=300px) {
    .search input {
        font-size: 8px;
    }
.search input[type=text] {
    width: 200px;
}
}
